.allprofile{
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url('./cover.png');
    background-repeat: no-repeat;
    background-size:contain ;
    background-position-x: center;
}
.mainprofile{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding:10px;
    width:70%;
    background-color: rgba(216, 112, 147, 0.88);
    border-radius: 30px;
    border: 2px solid palevioletred;

}
.mainprofile p{
    color:white;
    font-weight: 400;
}
.mainprofile h2{
    text-align: left;
}
.Profile{
    display: flex;
    flex-direction: row;
} 

.left{
    width:60%;
    padding:20px 0px;
}

.right{
    width:40%;
    display: flex;
    justify-content: center;
}
.right img{
    width:200px;
    height: 200px;
    border-radius: 200px;
    border: 10px solid #128F8B;
}

.Orders .Ordercart{
    background-color: rgba(216, 112, 147, 0.242);
    border: 2px solid white;
    border-radius: 20px;
    padding:0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.order .first{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 20px;
    position: relative;
}
.order .first button{
    position: absolute;
    right: 0;
    top:0;
    border: 0;
    padding:2px;
    width:30px;
    height: 30px;
    background-color: transparent;
}
.order .first svg{
    position: absolute;
    right: 0;
    top:0;
    width: 30px;
    height: 30px;
}
.Ordercart .order .firstinfo{
    padding:10px;
}
.order .mySwiper .info{
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.order .profileProduct{
    height: 100%;
    display: flex;
    
    background-color:transparent;
}
.mainprofile .Orders .swiper-slide {
    width: 90%;
    height: 100%;
  }
@media screen and (max-width:900px) {
    .right img{
        width:100px;
        height: 100px;
    }
    
      .mainprofile .Orders .swiper-slide img {
        display: block;
        width: 150px;
        height: 150px;
      }
}
@media screen and (max-width:700px) {
    .mainprofile{
        width:90%;
    }
    
    .mainprofile .Orders .swiper-slide img {
        display: block;
        width: 100px;
        height: 100px;
      }

    }

    @media screen and (max-width:300px) {
        .mainprofile{
            width:90%;
        }
        
          .mainprofile .Orders .swiper-slide img {
            display: block;
            width: 100px;
            height: 100px;
          }
    
        }