.all {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    width: 100%;
    height: fit-content;
}

.header {
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.row {
    gap: 5px;
}

.row button{
    background-color: white;
    
}
.row button:hover, .row a:hover{
    color:white;
    background-color: palevioletred;

}
.row button:hover span, .row button:hover svg, .row a:hover svg{
    fill:white;
    color:white;
}

.header h2,
.header a {
    width: 100%;
    color: palevioletred;
    text-align: left;
}

.header .info {
    width: 100%;
}

.cart {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
}


.cart .oneproduct {
    gap: 5px;
    width: calc((100% - 60px) / 4);
}

.cart .oneproduct a {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cart .oneproduct a img {
    width: 90%;
    height: 100%;
}

.header button,
.header a {
    color: palevioletred;
    text-align: center;
    font-size: large;
    padding: 10px;
    border: 3px solid palevioletred;
    border-radius: 4px;
}

.header button svg,
.header a svg {
    fill: palevioletred;
}

.qnty {
    background-color: pink;
    border: 3px solid palevioletred;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.cart .qnty button {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    box-sizing: content-box;
    width: 50%;
}

.qnty svg {
    box-sizing: content-box;
    width: calc(100% / 3);
}

.cart .header .row span{
    padding: 0px;
    color: palevioletred;
}

.cart span{
    padding: 0px;
    color: palevioletred;
}

.qnty span {
    width: calc(100% / 3);
    text-align: center;
    border-left: 3px solid palevioletred;
    border-right: 3px solid palevioletred;
    color: palevioletred;
    padding: 10px;
}

button svg {
    fill: white;
}
.cart .oneproduct .discount{
    color:red;
    background-color: white;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1500px) {
    .cart .oneproduct {

        width: calc((100% - 40px) / 3);

    }
}

@media screen and (max-width:1000px) {
    .cart .oneproduct {

        width: calc((100% - 20px) / 2);

    }
}

@media screen and (max-width:600px) {
    .cart .oneproduct {

        width: calc(100%);

    }
}