.home{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
    background-color: #01B5B0;
}
.home_left{
    display: flex;
    justify-content: center;
    width: 100%;
}

.images{
    position: relative;
    width:fit-content;
}