.all{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.oneproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:10px;
    border-radius: 20px;
    width:calc((100% - 40px) / 5);
    width:80%;
    box-shadow: 5px 3px 9px 5px rgb(234, 199, 206);
}
.oneproduct img{
    width:70%;
    
    border-radius: 10px;
    border: 1px solid palevioletred;
}
.details{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;

}
.spans{
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
    width:100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
    font-weight: 700;
    justify-content: space-around;
}
.imagess{
    display: flex;
    width:100%;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.subImages{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width:25%;
    gap:10px;
}
.subImages img{
    width: 90%;
}
.all .subImages img:hover,.all .oneproduct .imagess img:hover{
    transform: scale(1.2);
}
.all .oneproduct .subImages img:hover{
    transform: scale(1.7);
}
.oneproduct h2,.oneproduct h4{
    background-color:transparent;
    font-weight: 700;
    color: palevioletred;
}

.all .oneproduct .spans span{
    color: white;
    font-size: large;
}
.allProducts span{
    color: palevioletred;
    font-size: larger;
}

.oneproduct button,.allProducts button{
    background-color: rgb(239, 121, 160);
    border:2px solid white;
    color:white;
    border-radius: 4px;
    padding:10px;
    display: flex;
    justify-content: space-around;
    gap:20px;
    align-items: center;
}
.all .oneproduct .add button:hover,.allProducts button:hover{
    transform: scale(1.1);
    background-color: palevioletred;
    border:2px solid white;
   
}
.oneproduct button span{
    font-size: medium;
}
.allProducts svg{
    fill:white;
}
.reviews{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:4px;
}
.rating{
    display: flex;
    flex-direction: row;
    gap:4px;
    align-self: flex-start;
    justify-self: flex-end;
    margin-left: auto;
    padding:10px;
}
.rating svg{
    fill:gold;
}
.reviews h4 svg{
    transition: 1s;
}
.reviews h4 svg:hover{
    transform:rotate(90deg);
    fill:gold;
}
.reviews .review{
    display: flex;
    align-items: center;
    padding: 3px;
    gap:7px;
    border: 2px solid palevioletred;
    border-radius: 10px;
}
.reviews .review:hover{
    background-color: white;
}
.reviews .review img{
    width:30px;
    height: 30px;
    border-radius: 30px;
    
}
.addreview{
    width:100%;
    display: flex;
    gap:30px;
    flex-direction: column;
}
.addreview .addinreview{
    width:100%;
    display: flex;
    gap:10px;
}
.addreview button{
    color:white;
}
.addreview input{
    width:80%;
}
.review{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


@media screen and (max-width:11000px) {
    .oneproduct{
        
        width:50%;
        
    }
}
@media screen and (max-width:900px) {
    .oneproduct{
        
        width:70%;
        
    }
}
@media screen and (max-width:600px) {
    .oneproduct{
        width:90%;
    }
    .all .oneproduct .spans span{
        font-size: medium;
    }
}

@media screen and (max-width:400px) {
    .oneproduct{
        width:90%;
    }
    .all .oneproduct .spans span{
        font-size: small;
    }
}