.all{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.oneproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:10px;
    border-radius: 20px;
    width:calc((100% - 40px) / 5);
    background-color: rgb(255, 231, 235);
    width:80%;
    box-shadow: 5px 3px 9px 5px rgb(153, 108, 116);
}
.oneproduct img{
    width:70%;
    
    border-radius: 10px;
    border: 1px solid palevioletred;
}
.details{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;

}
.spans{
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
    width:100%;
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 700;
    justify-content: space-around;
}
.imagess{
    display: flex;
    width:100%;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.subImages{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width:25%;
    gap:10px;
}
.subImages img{
    width: 90%;
}
.subImages img:hover,.oneproduct img:hover{
    transform: scale(1.4);
}
.oneproduct h2{
    background-color:transparent;
    font-size: xx-large;
    font-weight: 700;
    color: palevioletred;
}

span{
    color:rgb(255, 255, 255);
    font-size: larger;
}


@media screen and (max-width:11000px) {
    .oneproduct{
        
        width:50%;
        
    }
}
@media screen and (max-width:900px) {
    .oneproduct{
        
        width:60%;
        
    }
}
@media screen and (max-width:600px) {
    .oneproduct{
        
        width:70%;
        
    }
    
}