.catproduct{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-top: 10px;
    padding:20px;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-top: 10px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius: 20px;
    width:calc((100% - 40px) / 5);
    background-color: rgb(255, 231, 235);
  }
.product img{
    width:80%;
    height: 400px;
    border-radius: 10px;
}
.empty{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.empty h2{
    text-align: center;
    padding:10px;
    border-radius: 10px;
    color:palevioletred;
}
.empty svg{
  fill: palevioletred;
  width: 200px;
}
@media screen and (max-width:1500px) {
    .product{
        
        width:calc((100% - 20px) / 3);
        
      }
  }
  @media screen and (max-width:1000px) {
    .product{
        
        width:calc((100% - 20px) / 2);
        
      }
  }
  @media screen and (max-width:600px) {
    .product{
        
        width:calc(100%);
        
      }
  }
 