h2{
    color: palevioletred;
    font-weight: 800;
    font-size: xx-large;
}
p{
    color: rgb(195, 80, 118);
    font-weight: 600;
}
.mainn{
    width:100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    gap:30px;
    flex-direction: column;
    width:60%;
    box-shadow: 20px 10px 9px  rgb(195, 80, 118);
}

.alertIcon{
    width:100px;
}